.m-article {
    @include box;
    .m-article-header {
        @include span(12);
    }
    .m-article-title {
        text-align: left;
        color: $color-text;
        font-weight: 700;
        margin-left: 2rem;
        margin-right: 2rem;
    }
    .m-article-content {
        //@include box;
        .m-article-marginwrapper {
            @include span(12);
            &:hover {
                a {
                    color: $color-link;
                    border-color: $color-link;
                    &:hover {
                        color: $color-link--hover;
                        border-color: $color-link--hover;
                    }
                }
            }
        }

        .p-first {
            font-size: 1.4em;
            font-style: italic;
        }
    }

    img {
        width: 100%;
        margin-bottom: 2em;
    }

    h2, h3, h4, p, ul, ol {
    margin-left: 2rem;
    margin-right: 2rem;
}
}
