.m-article {
    @include box;
    .m-article-header {
        @include span(12);
    }
    .m-article-title {
        text-align: left;
        color: $color-text;
        font-weight: 700;
    }
    .m-article-content {
        .m-article-marginwrapper {
            @include span(12);
        }

        .p-first {
            font-size: 1.4em;
            font-style: italic;
        }
    }

    img {
        width: 100%;
        margin-bottom: 2em;

        //@include box-shadow(0px 0px 10px rgba(0, 0, 0, 0.1));
        // Strong shadow
        @include box-shadow(0px 0px 10px rgba(0, 0, 0, 0.4));
        &.plain {
            @include box-shadow(none);
        }
    }

    h2, h3, h4 {
        & + img {
            margin-top: 2em;
        }
    }

    h1, h2, h3, h4, p, ul, ol {
        margin-left: 1rem;
        margin-right: 1rem;
    }

    a {
        color: $color-link;
        border-bottom: 1px $color-link solid;

        &:hover {
            color: $color-link--hover;
            border-color: $color-link--hover;
            border-width: 1px;
        }
    }
}
