$zindex: 1000;
$width: 600px;
$padding: 20px;

[r-dialog], [r-modal] {
    display: none;

    background: red;
    width: $width;
    padding: $padding;

    position: absolute;
    left: 50%;
    margin-left: - ( $width / 2);

    z-index: $zindex;
}

[r-dim] {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    background: rgba(black, 0.4);

    display: none;

    z-index: $zindex - 1;
}
