$query-medium: 'screen and (min-width: 480px)';
$query-large: 'screen and (min-width: 769px)';

@include respond-to( $query-medium ) {
    html {
        font-size: 16px;
    }

    /*h2, h3, h4, p, ul, ol {
        margin-left: 2rem;
        margin-right: 2rem;
    }*/

    .m-header-title {
        font-size: 2.5em;
    }

    .m-article-title {
        font-size: 2.8em;
    }

    $headings:
        h1 2.8em 1.1em,
        h2 2em 1.4em;
        //h3 1.75em 1.61em;
        //h4 1.25em 1.61em;
    @each $heading in $headings {
        #{nth($heading, 1)} {
            font-size: nth($heading, 2);
            line-height: nth($heading, 3);
        }
    }

    .m-list-articles li {
        .source {
            display: inline;
        }
    }
}

@include respond-to( $query-large ) {
    html {
        font-size: 18px;
    }

    .m-article {
        h1, h2, h3, h4, p, ul, ol {
            margin-left: 2rem;
            margin-right: 2rem;
        }
    }

    .m-list-articles li {
        margin-left: 2rem;
        margin-right: 2rem;

        .date {
            @include span(3);
            text-align: right;
        }
        .title {
            @include span(9);
        }
    }

    ul, ol {
        @include type-list-hanging;
    }

    .m-header {
        margin-top: 5em;
        margin-bottom: 5em;
    }

    .m-header-title {
        font-size: 3.5em;
        line-height: 1.61em;
    }
}

@media print {
    html {
        font-size: 12px;
    }
}
