html {
    font-size: 16px;
}

body {
    font-size: 100%;
}

$headings: h1 5em, h2 1.91em, h3 1.618em, h4 1.18em;
@each $heading in $headings {
     #{nth($heading, 1)} {
        font-size: nth($heading, 2);
        line-height: 1.61em;
    }
}

p, li {
    font-size: 1em;
    line-height: 1.61em;
}

.scribble {
    font-family: redacted_scriptregular;
}
