<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="author" content="Tim von Oldenburg" />
    <meta name="robots" content="index,follow" />
    <meta name="description" content="Proto&amp;Type is a blog about UX, Interaction Design, and the Web.">
    <title>{{#if meta.Title}}{{meta.Title}} &mdash; {{/if}}Proto&amp;Type</title>

    <link rel="stylesheet" href="/styles/style.css">
    {{#if meta.Code}}
    <link href='http://fonts.googleapis.com/css?family=Merriweather:400,400italic,700,700italic|Source+Code+Pro|Amatic+SC:700' rel='stylesheet' type='text/css'>
    {{else}}
    <link href='http://fonts.googleapis.com/css?family=Merriweather:400,400italic,700,700italic|Amatic+SC:700' rel='stylesheet' type='text/css'>
    {{/if}}
</head>
<body>
    <header class="m-header">
        <h2 class="m-header-title"><a href="/">
            <span class="f--normal">Proto</span>
            <span class="f--large">&amp;</span>
            <span class="f--normal">Type</span></a></h2>
        <aside class="m-header-subtitle">A blog</aside>
    </header>
